/* Styling Only Related To ALL Pages */
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body {
  padding-top: 30px;
  margin-left: 0px;
  background-color: #f3e1ff !important; 
  font-family: "Figtree", sans-serif !important;
}
/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0 !important;
  width: 100%;
  z-index: 999;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #bdcec2;
}

.active {
  background-color: #d2e5d8;
}

h1 {
  width: 100%;
  margin-left: 20px;
}

.textblock {
  color: #facac3;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  width: 800px;
  font-family: "Crimson Text", serif !important;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  font-size: 50px;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 800px}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}



